.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background_secondary);

  & > a {
    height: 100%;
  }
}

.header_image {
  height: 100%;
  width: auto;
}

.nav_wrapper {
  height: 100%;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background: var(--background_secondary);

  a {
    text-decoration: none;
    padding: 1rem;
    height: 100%;
  }
}

.open {
  opacity: 1;
  pointer-events: all;
}

.toggle_menu_button {
  margin-left: auto;
  margin-right: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.spacer,
.header {
  height: 6rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    position: static;
    opacity: 1;
    pointer-events: all;
    margin-left: 2rem;
  }

  .nav_wrapper {
    display: flex;
    margin: auto;
  }

  .nav_wrapper .list {
    flex-direction: row;
    gap: 2rem;
  }

  .toggle_menu_button {
    display: none;
  }
}
