.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background_header);
  border-bottom: 2px solid var(--color_border);
  z-index: 100;

  & > a {
    height: 100%;
  }
}

.header_image {
  height: 100%;
  width: auto;
}

.nav_wrapper {
  height: 100%;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background: var(--background_header);

  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem;
    height: 100%;
  }
}

.open {
  opacity: 1;
  pointer-events: all;
}

.toggle_menu_button {
  margin-left: auto;
  margin-right: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0 2rem;
}

.spacer,
.header {
  height: 6rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    position: static;
    opacity: 1;
    pointer-events: all;
    margin-left: 2rem;
    height: 100%;
  }

  .nav_wrapper {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }

  .nav_wrapper .list {
    flex-direction: row;
  }

  .logo_wrapper {
    height: 150px;
    margin-right: 12rem;
  }

  .toggle_menu_button {
    display: none;
  }

  .list {
    padding: 0;
    flex-direction: row;
    height: 100%;
    gap: 0;

    li {
      height: 100%;

      &:hover {
        background-color: var(--header_hover);
        color: var(--color_hover);
        transition: 0.2s;
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
    }
  }
}
