.category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.list_item {
  width: 300px;
  height: 200px;
  background-color: var(--background_tertiary);
  border-radius: var(--border-radius);
}

.header {
  text-align: center;
}

.meal_image {
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
}
