.featured_item_container {
  width: var(--site_max_width);
  background-color: var(--background_tertiary);
}

.featured_item_wrapper {
  display: flex;
  max-width: var(--content_max_width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: 0.2s;
}

.featured_item_container:hover {
  background-color: var(--background_tertiary_hover);
  transition: 0.2s;
}

.featured_item_left {
  width: 40%;
}

.featured_item_right {
  width: 60%;
  padding: 2rem;
}

.image {
  border-radius: var(--border-radius);
  object-fit: contain;
  height: auto;
}

.info_wrapper {
  width: 60%;
}
