.list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
  justify-content: space-between;
  max-width: var(--content_max_width);
}

.list_item {
}

@media screen and (min-width: 768px) {
}
