:root {
  --background_primary: #0a0a0a;
  --background_secondary: #15161b;
  --background_tertiary: #2c2d35;
  --background_body: #000000;
  --color_primary: #ededed;
  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_primary: #0a0a0a;
    --background_secondary: #15161b;
    --background_tertiary: #2c2d35;
    --background_body: #000000;
    --color_primary: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background_primary: #0a0a0a;
    --background_secondary: #15161b;
    --background_tertiary: #15161b;
    --background_body: #000000;
    --color_primary: #ededed;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

main {
  padding-top: 2rem;
}

body {
  background: var(--background_primary);
  color: var(--color_primary);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}
