:root {
  --background_primary: #ffffff;
  --background_secondary: #dc493a;
  --background_tertiary: #fff0da;
  --background_tertiary_hover: #ffe4bb;
  --background_body: #ffffff;
  --background_tile: #fff3e3;
  --background_header: #ffffff;
  --header_hover: #fff3e3;
  --tile_shadow: #ababab;
  --color_primary: #040404;
  --color_secondary: #585858;
  --color_hover: #ffa200;
  --color_border: #ababab;
  --tile_border_radius: 0;
  --site_max_width: 100%;
  --content_max_width: 1200px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background_primary: #0a0a0a;
    --background_secondary: #15161b;
    --background_tertiary: #2c2d35;
    --background_body: #000000;
    --background_tile: #2c2d35;
    --tile_shadow: #2c2d35;
    --color_primary: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background_primary: #0a0a0a;
    --background_secondary: #15161b;
    --background_tertiary: #15161b;
    --background_body: #000000;
    --background_tile: #2c2d35;
    --tile_shadow: #2c2d35;
    --color_primary: #ededed;
  }
} */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

h4 {
}

h5 {
  margin-top: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background_primary);
  color: var(--color_primary);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.button_primary {
  font-size: inherit;
  font: inherit;
  outline: none;
  border: none;
  background: var(--background_tertiary);
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: var(--background_tertiary_hover);
    transition: 0.2s;
  }
}
