.main {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hero {
  display: flex;
  gap: 2rem;
  max-width: var(--content_max_width);
  margin: auto;
  margin-bottom: 2rem;
}

.featured_recipe {
  width: 60%;
}

.latest_recipes {
  width: 40%;
}

.featured_recipe_info_wrapper {
  padding-left: 1rem;
}

.super_title_big {
  color: var(--color_secondary);
}

.featured_recipe_image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.latest_recipes_list_item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color_secondary);
}

.latest_recipe_image {
  width: 130px;
  height: 90px;
  object-fit: cover;
}

.super_title_small {
  font-size: 0.8rem;
  color: var(--color_secondary);
}

.button_see_more {
  margin: auto;
  display: block;
}

.button_to_recipe {
}

.fullwidth_image_with_textbox {
  position: relative;
  height: 360px;
  width: var(--site_content_width);
  padding-left: calc(50% - (var(--content_max_width) / 2) + 4rem);
  padding-top: 6rem;
}

.fullwidth_image {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text_wrapper {
  background: var(--background_primary);
  max-height: calc(100% - 8rem);
  width: 350px;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.trending_container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.trending_wrapper {
  max-width: var(--content_max_width);
  margin: auto;
}

.trending_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.trending_item {
  min-width: 500px;
  display: flex;

  img {
    width: 180px;
    height: 180px;
  }
}

.trending_item_info {
  padding: 1rem;
}
