.tile {
  width: 280px;
  height: 300px;
  background-color: var(--background_tile);
  border-radius: var(--tile_border_radius);
  position: relative;
  border: 2px solid var(--color_border);
}

.tile:hover {
  box-shadow: 1px 5px 5px var(--tile_shadow);
  transition: all 0.5s;
  transform: translateY(-5px) translateX(1px);
}

.image {
  border-radius: var(--border-radius);
  object-fit: contain;
}

.text_wrapper {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  height: 35%;
  padding-left: 1rem;
  overflow: hidden;

  h3 {
    margin-top: 0.5rem;
    text-overflow: ellipsis;
  }
}
